:root{
    background-color: #ef7007;
    font-size: 143.5%;
}

*{
    box-sizing: border-box;
    font-family:'Fira Code', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 5rem;
    
}
       
img{
    width: 81vh;
}


.btn{
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.2rem solid  #2fa257;
    margin-bottom: 1rem;
    text-decoration: none;
    color:  #f9f9f9;
    background-color: rgb(6, 6, 6);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px 2px #d9ddda;
   
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-container {
  width: 80%;
  max-width: 700px;
  margin: 80px auto;
  padding: 20px;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.question-number, .score {
  color: #f2edf1; 
  font-weight: bold;
}

.question{
    margin-bottom: 50px;
}

.progress-bar {
  width: 50%;
  height: 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 3px;
}

.progress {
  height: 100%;
  width: 30%; 
  background-color: #3399ff;
}

.options {
  display: flex;
  flex-direction: column;
  
  gap: 10px;
}

.option {
    display: flex;
    justify-content: space-between;
    
}

.option {
  background-color: rgb(18, 17, 17);
  color: #ff00cc;
  font-weight: bold;
  border: none;
  padding: 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: 1s;
}

.option:hover {
  background-color: #537291;
  color: white;
}





